# config file for isobios
TIMEOUT 15
ONTIMEOUT boot

SERIAL 0 9600 0
DEFAULT boot

LABEL boot
    KERNEL /arch/boot/syslinux/vmlinuz-linux
    INITRD /arch/boot/syslinux/initramfs-linux.img
    APPEND archisobasedir=arch archiso_iso_sfx=.iso archiso_loop_sfx=.iso archiso_pxe_sfx=.iso copytoram=n archisolabel=LINDU_LABEL

PROMPT 0